cabecalho {
    background-color: #bd6600;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
  }
  
  .imagem-cabecalho {
    width: 4%;
  }
  
  .item-lista-cabecalho {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
  }